Django==1.6.5
django-modeltranslation==0.7.3
south==1.0
psycopg2
django-paintstore==0.1.2
simple-translation==0.8.6
django-databrowse==1.2
django-wsgiserver
bootstrap-admin==0.3.0
django-durationfield
django-geojson
