{% load staticfiles %}
{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="robots" content="NONE,NOARCHIVE">
  <title>GIS Forest Progect</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

<script src="http://openlayers.org/api/OpenLayers.js"></script>


</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">


          <a class="navbar-brand" href="{% url 'homepage' %}">{% trans 'GIS Forest Project' %}</a>

        </div>

        <div class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
            <li id="homepage" ><a href="{% url 'homepage' %}">{% trans 'Sections' %}</a></li>
            <li id="map-region"><a href="{% url 'map-region' %}">{% trans 'Regions' %}</a></li>
            <!--
            <li id="fire-risk"><a href="{% url 'fire-risk' %}">{% trans 'Fire damage' %}</a></li>
            <li id="fire-risk1"><a href="{% url 'fire-risk1' %}">{% trans 'Fire danger' %}</a></li>
            <li id="fire-risk2"><a href="{% url 'fire-risk2' %}">{% trans 'Fire risk' %}</a></li>
            -->
            <li id="graph"><a href="{% url 'graph' %}">{% trans 'Graphics' %}</a></li>
            <li id="firerisk-index"><a href="{% url 'firerisk-index' risk='1' %}">{% trans 'Fire risk' %}</a></li>

          </ul>
          {% block navigator %}    {% endblock %}
<!--
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          -->
        </div><!--/.navbar-collapse -->
      </div>
  </div>


<div class="container" style="margin-top: 60px;">
   {% block base_content %}    {% endblock %}
</div>


</body>


</html>
