
{% extends "map_layout.html" %}
{% load simple_translation_tags %}


{% block navigator %}
     <script type="text/javascript">
       $('#fire-risk1').addClass('active');
     </script>
 {% endblock %}


{% block left_content %}





<script type="text/javascript">
function init(){
        var lon = 3665941.92388;
        var lat = 5880439.46213;
    var zoom = 13;
    var options = {
        div: "map",
        layers: [new OpenLayers.Layer.OSM()],
        projection: new OpenLayers.Projection("EPSG:4326"),
         maxExtent: new OpenLayers.Bounds(-20037508.34, -20037508.34, 20037508.34, 20037508.34)
    };
    var  map = new OpenLayers.Map(options);




            function setHTML(response) {
            OpenLayers.Util.getElement('info').innerHTML = response.responseText;
            $('#status-message').hide();
            }





         function updateinfo() {

            if (forest.selectedFeatures.length == 1) {
            $('#status-message').show();

           var request = OpenLayers.Request.GET({
                url: "{{ base_url }}{% url "get-region-info" %}",
                params: {id: forest.selectedFeatures[0].data['id']},
                callback: setHTML

            });


            } else {document.getElementById('info').value = ''}
        }


      var style =   new OpenLayers.StyleMap({
                    "default": new OpenLayers.Style({
                        strokeColor: "#dd0000",
                        strokeOpacity:.7,
                        strokeWidth: 1,
                        //fillColor: "#aa0000",
                        fillOpacity: 1,
                        //label: '${firerisk1}',
                        cursor: "pointer"
                    }),
                    "temporary": new OpenLayers.Style({
                        strokeColor: "#ff0000",
                        strokeOpacity: .7,
                        strokeWidth: 2,
                        fillColor: "#ffff33",
                        fillOpacity: 0,
                        //label: '${number}',
                        cursor: "pointer"
                    }),
                    "select": new OpenLayers.Style({
                        strokeColor: "#0033ff",
                        strokeOpacity: .7,
                        strokeWidth: 2,
                        fillColor: "#0033ff",
                        fillOpacity: 0,
                        graphicZIndex: 2,
                        //label: '${number}',
                        cursor: "pointer"
                    })
                    }) ;

      var lookup = {
            "0.00": {fillColor: "#90EE90"},
            "1.00": {fillColor: "#FFAEB9"},
            "2.00": {fillColor: "#FA8072"},
            "3.00": {fillColor: "#FF4040"},
            "4.00": {fillColor: "#FF0000"}
      }

      style.addUniqueValueRules("default", "class_risk1", lookup);


        forest = new OpenLayers.Layer.Vector("Информация", {
            //isBaseLayer: true,
            projection: new OpenLayers.Projection('EPSG:4326'),
            strategies: [new OpenLayers.Strategy.Fixed()],
            protocol: new OpenLayers.Protocol.HTTP({

                url: "{{ base_url }}/get-polygon-json-firerisk1?id=1",

                params: {
                    attrs: 'id,name',
                    epsg: '900913'
                },
                format: new OpenLayers.Format.GeoJSON()

            }),
            styleMap: style
        });



         var select_options = {
            hover: false,
            onSelect: updateinfo
          };
         var select = new OpenLayers.Control.SelectFeature(forest, select_options);

         var highlightCtrl = new OpenLayers.Control.SelectFeature(forest, {
                hover: true,
                highlightOnly: true,
                renderIntent: "temporary"
            });

         map.addControl(highlightCtrl);
         map.addControl(select);

         highlightCtrl.activate();
         select.activate();

    map.addLayer(forest);









    map.addControl(new OpenLayers.Control.LayerSwitcher({}));

    if(!map.getCenter()){
        map.zoomToMaxExtent();
     }

 //       map.addLayer(nesomk);
//        map.addLayer(forest);

          //  var proj = new OpenLayers.Projection("EPSG:900913");
        var point = new OpenLayers.LonLat(lon, lat);
        map.setCenter(point, zoom);

   // map.zoomToExtent([3062373.1007906, 8962088.6911328, 18560133.457509, 9930698.7134278]);
} ;
$(document).ready(function(){ init() });
</script>

<h2>Forestry Proletarskoje (regions)</h2>


{% endblock %}

{% block right_content %}

<div id="info">
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Fire risk</h3>
    </div>
    <div class="panel-body">
          <table>
            <tr>
                <td>Fire risk</td>
                <td>Color</td>

                  {% for c,v in legend %}

                    <tr>
                        <td> {{ c  }}   </td>
                        <td>  <div style="width: 20px; height: 20px; background:{{v}} "  </td>

                    </tr>


                  {% endfor %}

<tr>

Fire danger = 0.51
</tr>

   </table>


    </div>
</div>



{% endblock %}
