{% load staticfiles %}<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script type="text/javascript">
    $(function () {
         $.getJSON("{% url 'bar' %}", function(data) {
            $('#container').highcharts(data);
         });
     });
     </script>
</head>
<body>
<div id="container" style="height: 300px"></div>
</body>
</html>
