{% extends "base.html" %}

{% load static %}


{% block navigator %}
     <script type="text/javascript">
       $('#graph').addClass('active');
     </script>
 {% endblock %}


{% block base_content %}
<div id="count_graph"></div>
<div id="count_graph2"></div>


    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/highcharts/highcharts.js' %}"></script>
    <script type="text/javascript">


    $(function () {
         $.getJSON("{% url 'graphic' %}", function(data) {
            $('#container').highcharts(data);
         });
     });

    $(function () {
         $.getJSON("{% url 'GraphTempJson' %}", function(data) {
            $('#container2').highcharts(data);
         });
     });




    $(function () {
         $.getJSON("{% url 'GraphKmpJson' %}", function(data) {
            $('#container3').highcharts(data);
         });
     });





    $(function () {
         $.getJSON("{% url 'GraphPjcJson' %}", function(data) {
            $('#container4').highcharts(data);
         });
     });









</script>




TEMPERATURE

<div id="container2" style="height: 300px"></div>


NESTEROV INDEX
<div id="container3" style="height: 300px"></div>




WEATHER CONDITIONS PROBABILITY
<div id="container4" style="height: 300px"></div>



FIRE DANGER
<div id="container" style="height: 300px"></div>






{% endblock %}








