{% extends "base.html" %}
{% block base_content %}
<div class="col-md-9">
{% block left_content %} {% endblock %}
<div id="map" style="width:800px; height:700px; border: 2px solid silver"></div>
</div>

<div class="col-md-3">
<h3>Legend</h3>
<div id="status-message" style="display: none">Подождите идет загрузка</div>
{% block right_content %} {% endblock %}
</div>
{% endblock %}
