
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Квартал № {{ kvartal_id }}</h3>
  </div>
  <div class="panel-body">
<table>
{% if kvartal.area != None %}
<tr>
<td>Area (m2)</td>
<td>{{ kvartal.area }}</td>
</tr>
{% endif %}
</table>







  </div>
</div>
