
<div class="panel panel-primary">
<div class="panel-heading">
    <h3 class="panel-title">Section № {{ region.kvartal }}</h3>
    <h3 class="panel-title">Region № {{ region.vydel }}</h3>
  </div>
  <div class="panel-body">
     <table>

         <tr>
             <td>Type of terrain</td>
             <td><b>{{ region.type }}</b></td>
         </tr>
         {% if region.area != None %}
         <tr>
             <td>Area (m2)</td>
             <td><b>{{ region.area }}</b></td>
         </tr>
         {% endif %}


         {% if region.area != None %}
         <tr>
             <td>Perimeter (m)</td>
             <td><b>{{ region.perimetr }}</b></td>
         </tr>
         {% endif %}



         {% if region.wood_volume_per_ha != None %}
         <tr>
             <td>Amount of wood per ha (m3)</td>
             <td><b>{{ region.wood_volume_per_ha }}</b></td>
         </tr>
         {% endif %}





         {% for i in fe %}
          <tr>
              <th><b><i>{{ i.forest_element }}</i></b></th>
          </tr>
         {% if i.age != None %}
          <tr>
              <td>Age (years)</td>
              <td>{{ i.age }}</td>
          </tr>
         {% endif %}
         {% if i.height != None %}
         <tr>
              <td>Height (meters)</td>
              <td>{{ i.height }}</td>
          </tr>
         {% endif %}
         {% if i.diameter != None %}
         <tr>
              <td>Trunk diameter (centimeters)</td>
              <td>{{ i.diameter }}</td>
          </tr>
         {% endif %}
         {% endfor %}

     </table>
     <a href="{{ base_url }}/admin/map/geopolygon/{{ region.id }}/" target="_blank">Edit</a>
  </div>
</div>
